node_modules
.next
.DS_Store
*.log

/app/locales/_build
/app/locales/**/*.js
/app/locales/**/*.mjs
/app/locales/*/**/*.ts
/app/public/dist/**/*.js
/packages/**/dist
/app/dist
.now

.env
.env*.local

__diff_output__

screenshots
e2e-screenshots
playwright-report

app/public/storybook

certificates
.vercel
