shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
public-hoist-pattern[]=*@prisma/client*
public-hoist-pattern[]=*@opentelemetry/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*@mui/*
public-hoist-pattern[]=*@types/*
public-hoist-pattern[]=*@emotion/*
public-hoist-patterns[]=*next*
public-hoist-patterns[]=*react*

# Supply chain security
#block-exotic-subdeps=true
minimum-release-age=10080
#trust-policy=no-downgrade