.common {
  margin-top: 0;
  line-height: 1.2;

  &:only-child {
    margin-block: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.inheritFonts {
  font-size: inherit;
  font-weight: inherit;
}
