name: Build and push Docker image

on:
  push:
    branches:
      - main
      - develop
    tags:
      - "v*.*.*"

jobs:
  docker:
    runs-on: ubuntu-latest

    env:
      DOCKER_IMAGE: ghcr.io/zazuko/visualization-tool

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: "${{ env.DOCKER_IMAGE }}"
          tags: |
            type=ref,event=branch
            type=semver,prefix=v,pattern={{version}}
            type=semver,prefix=v,pattern={{major}}.{{minor}}
            type=semver,prefix=v,pattern={{major}}
            type=sha
            ${{ github.ref_type == 'branch' && format('pipeline-{0}-{1}', github.ref_name, github.run_id) || '' }}

      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          build-args: |
            NEXTAUTH_URL=https://visualize.zazukoians.org
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          platforms: |
            linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max
