name: E2E

on: [deployment_status]

jobs:
  e2e:
    if: github.event.deployment_status.state == 'success'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [1, 2, 3, 4]
        shardTotal: [4]
    steps:
      - uses: actions/checkout@v5
        with:
          # fetch all commits so we can find the branch
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: "yarn"
          cache-dependency-path: "**/yarn.lock"
      - name: Install dependencies
        run: yarn install --immutable --prefer-offline
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps chromium
      - name: Run Playwright tests
        run:
          yarn e2e -- --grep-invert @noci --shard=${{ matrix.shardIndex }}/${{
          matrix.shardTotal }}
        env:
          ARGOS_BRANCH:
            ${{ github.event.deployment_status.environment == 'Production' &&
            'main' || '' }}
          E2E_BASE_URL: ${{ github.event.deployment_status.target_url }}
          E2E_HAR: ${{ secrets.E2E_HAR }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload blob report to GitHub Actions Artifacts
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: blob-report-${{ matrix.shardIndex }}
          path: blob-report
          retention-days: 1
