name: GitLab Mirror

on: [push, delete]

jobs:
  to_gitlab:
    runs-on: ubuntu-latest
    steps: # <-- must use actions/checkout@v4 before mirroring!
      - uses: actions/checkout@v4
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: git@gitlab.ldbar.ch:interactivethings/visualization-tool.git
          ssh_private_key: # <-- use 'secrets' to pass credential information.
            ${{ secrets.GITLAB_SSH_PRIVATE_KEY }}
