name: GitLab Mirror

on: [push, delete]

jobs:
  to_gitlab:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Logging
        run: |
          git remote show origin
          git for-each-ref
      - name: Mirror to GitLab
        uses: wearerequired/git-mirror-action@v1
        env:
          SSH_PRIVATE_KEY: ${{ secrets.GITLAB_SSH_PRIVATE_KEY }}
        with:
          source-repo: "git@github.com:visualize-admin/visualization-tool.git"
          destination-repo: "git@gitlab.ldbar.ch:interactivethings/visualization-tool.git"
